<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>

  <nav>
    <div class="site-title">
      <a href="/"><h1>blog</h1></a>
      <p>our blog, our website</p>
    </div>
    <ul>
      <li><a href="/">blogs</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/blogs/create">new blog</a></li>
    </ul>
  </nav>
  
  <div class="blogs content">
    <h2>about us</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel iure laboriosam animi eveniet? Explicabo quod modi tenetur harum repellendus ratione molestiae unde quidem! Repellat ipsam, ut temporibus in illo vel.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel iure laboriosam animi eveniet? Explicabo quod modi tenetur harum repellendus ratione molestiae unde quidem! Repellat ipsam, ut temporibus in illo vel.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel iure laboriosam animi eveniet? Explicabo quod modi tenetur harum repellendus ratione molestiae unde quidem! Repellat ipsam, ut temporibus in illo vel.</p>
  </div>
  
  <%- include('./partials/footer.ejs') %> 
  
</body>
</html>